## Data Types and Structures Questions

1. What are data structures, and why are they important?
- Data structures are ways to organize and store data for efficient access and modification. They are important because they allow programs to handle large amounts of data efficiently (e.g., searching, sorting, insertion).

2. Explain the difference between mutable and immutable data types with examples.  
- Mutable: Can be changed after creation.
Example: list = [1, 2, 3] → list[0] = 10
Immutable: Cannot be changed after creation.
Example: string = "hello" → string[0] = "H" (Error)

3.  What are the main differences between lists and tuples in Python?
- Lists are mutable, tuples are immutable.
Lists use [], tuples use ().
Lists are slower than tuples for iteration.

4. Describe how dictionaries store data.
- Dictionaries store data as key-value pairs using a hash table mechanism. Keys must be unique and hashable.

5. Why might you use a set instead of a list in Python?
- Sets automatically remove duplicates and offer faster lookup times due to hashing.

6. What is a string in Python, and how is it different from a list?
- A string is a sequence of characters, immutable, and supports many string-specific operations. Lists can hold multiple data types and are mutable.

7. How do tuples ensure data integrity?
- Their immutability prevents accidental modification, making them suitable for fixed collections.

8.What is a hash table, and how does it relate to dictionaries?
- A hash table maps keys to values using a hash function. Python’s dictionaries are implemented using hash tables.

9. Can lists contain different data types?
- Yes. Example: my_list = [1, "hello", 3.14, True]

10. Explain Why strings are immutable in Python.
- For memory efficiency, performance, and safety in concurrent execution (hashability).

11. What Advantages of dictionaries over lists?
- Faster lookup via keys, more expressive (key-value pairs).

12. Describe a scenario where using a tuple would be preferable over a list.
* When storing coordinates like (x, y) or returning multiple values from a function that shouldn’t be modified.

13. How do sets handle duplicate values in Python?
- Sets discard duplicates automatically.
Example: set([1, 2, 2, 3]) → {1, 2, 3}

14. How does the “in” keyword work differently for lists and dictionaries?

- List: Checks for value existence.
Dict: Checks for key existence.
Example: "a" in [1, "a"] vs "name" in {"name": "John"}

15. Can you modify the elements of a tuple? Explain why or why not.
No, tuples are immutable. You cannot change their elements after creation.

16. What is a nested dictionary, and give an example of its use case?
- A dictionary inside another dictionary.
student = {"name": "John", "marks": {"math": 90, "science": 85}}
17. Describe the time complexity of accessing elements in a dictionary.
- O(1) (average case) due to hashing.

18. In what situations are lists preferred over dictionaries?
- When order matters or when data doesn’t need to be accessed by keys.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries don’t maintain insertion order (prior to Python 3.7), which can affect predictable data retrieval.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- List: Retrieve by index → slower lookup for values.
Dictionary: Retrieve by key → fast and direct.

## **Practical Questions**

In [1]:
# 1. Write a code to create a string with your name and print it.
name = "Your Name"
print(name)

Your Name

In [3]:
# 2. Write a code to find the length of the string "Hello World".
print(len("Hello World"))

11

In [4]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
print("Python Programming"[:3])

Pyt

In [5]:
# 4. Write a code to convert the string "hello” to uppercase.
print("hello".upper())

HELLO

In [6]:
# 5. Write a code to replace the word “apple” with "orange” in the string "l like apple”.
print("I like apple".replace("apple", "orange"))

I like orange

In [ ]:
# 6. Write a code to create a list with numbers 1to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

In [8]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [9]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 3, 4, 10]

In [11]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [12]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[1, 2, 3, 4, 10]

In [14]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tpl = (100, 200, 300)
print(tpl)

(100, 200, 300)

In [16]:
# 12. Write a code to access the second-to-last element of the tuple (red, ‘green’, 'blue, 'yellow'),
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [17]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tpl = (10, 20, 5, 15)
print(min(tpl))

100

In [19]:
# 14. Write a code to find the index of the element "cat” in the tuple ('dog', ‘cat’, rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [21]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'mango')
print("kiwi" in fruits)

False

In [22]:
# 16. Write a code to create a set with the elements 'd’, 'b', 'c’ and print it.
fruits = ('apple', 'banana', 'mango')
print("kiwi" in fruits)

False

In [24]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [25]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [26]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

set()

In [28]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [29]:
# 21. Write a code to create a dictionary with the keys "name’, "age”, and “city", and print it.
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [30]:
# 22. Write a code to add a new key-value pair "country”: "USA” to the dictionary {name" ‘John’, ‘age’: 25}.
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [33]:
# 23. Write a code to access the value associated with the key "name” in the dictionary {'name’: 'Alice’, ‘age’: 30}.
d = {"name": "Alice", "age": 30}
print(d["name"])

Alice

In [34]:
# 24. Write a code to remove the key "age” from the dictionary {name’: 'Bob), ‘age’: 22, ‘city": 'New York'}.
d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

In [36]:
# 25. Write a code to check if the key "city” exists in the dictionary {'name": 'Alice, ‘city" 'Paris’}.
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

In [37]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them alll.
lst = [1, 2, 3]
tpl = (4, 5, 6)
dct = {"a": 1, "b": 2}
print(lst, tpl, dct)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [39]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
# result.
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[1, 19, 23, 55, 61]

In [40]:
# 28. Write a code to create a list with strings and print the element at the third index.
strings = ["apple", "banana", "cherry", "date", "fig"]
print(strings[3])

date

In [41]:
# 29. Write a code to combine two dictionaries into one and print the result.
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [42]:
# 30. Write a code to convert a list of strings into a set.
lst = ["apple", "banana", "apple", "cherry"]
s = set(lst)
print(s)

{'cherry', 'apple', 'banana'}